@model QLKho_Project.Models.HdNhapModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section title{
    <h1>Tạo Hóa Đơn Bán Hàng</h1>
    <a href="#">Trang chủ > </a>
    <h6>Tạo Hóa Đơn Bán Hàng</h6>
}

@section linkCss{
    <link href="/Assets/css/HDBanHang.css" rel="stylesheet" />

}

@section linkJs{
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js" integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk=" crossorigin="anonymous"></script>
    <script src="/Assets/js/HDBanHang.js"></script>
}

<div class="container-fluid">
    <div class="col-md-12">
        <div class="invoice">
            <div class="invoice-header">
                <div class="invoice-from">
                    <small>From</small>
                    <address class="m-t-5 m-b-5">
                        <strong class="text-inverse">@ViewBag.TrangTrai.Ten</strong><br>
                        <br>

                        <p id="address">@ViewBag.TrangTrai.DiaChi</p>
                        <p id="stk">@ViewBag.TrangTrai.STK</p>
                        <p id="phone">@ViewBag.TrangTrai.SoDienThoai</p>

                    </address>
                </div>
                <div class="invoice-to">
                    <div class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" id="txtKeyword" name="txtKeyword" type="search" placeholder="gõ từ khóa" aria-label="Search">
                        <button class="btn btn-outline-info my-2 my-sm-0" id="btn_search">Tìm kiếm </button>
                        <div id="result_search"></div>
                    </div>
                    <address id="info_customer" class="m-t-5 m-b-5">
                        <br />
                        <strong class="text-inverse"><input id="name_cus" type="text" class="input_cus" /> </strong><br>
                        <br>
                        <input id="address_cus" class="input_cus" type="text"  /><br /> <br />
                        <input id="stk_cus"  class="input_cus"  type="number"  />
                        <input id="phone_cus"   class="input_cus" type="number" />
                        <input id="id_cus" value="-1" type="hidden"/>
                    </address>
                </div>
                <div class="invoice-date">

                    <div class="date text-inverse m-t-5">  @ViewBag.Today</div>

                </div>
            </div>
            <!-- end invoice-header -->
            <!-- begin invoice-content -->
            <div class="invoice-content">
                <div class="input_product">
                    <div class="choose-product col-md-2  col-sm-2">
                        <h5>Chọn sản phẩm</h5>
                        <select class="select-tag" id="selectSp">
                            @foreach (var items in @ViewBag.ListSanPham)
                            {
                                <option value="@items.Ma">@items.Ten</option>
                            }
                        </select>

                    </div>
                    <div class=" choose-product col-md-2 col-sm-2">
                        <h5>Chọn  số lượng sản phẩm</h5>
                        <input id="slDat" type="number" required="" />
                    </div>
                    <div class="button_add col-md-2 coel-sm-2">
                        <button id="add_pro" class="btn btn-warning">Thêm Sản Phẩm </button>
                    </div>
                </div>

                <!-- begin table-responsive -->
                <div class="table_dat table-responsive">
                    <table class="table table-invoice" id="table_field">

                        <tr>
                            <th width="5%">Mã Sản Phẩm </th>
                            <th>Tên Sản Phẩm </th>
                            <th width="25%" class="text-center">Mô Tả</th>
                            <th width="5%" class="text-center">Số Bao</th>
                            <th class="text-center" width="10%">Sản Lượng</th>
                            <th class="text-center" width="5%">Giá</th>
                            <th class="text-center" width="10%">Tiền</th>
                            <th class="text-center" width="25%">Tùy Chọn</th>
                        </tr>



                    </table>
                </div>
                <!-- end table-responsive -->
                <!-- begin invoice-price -->
                <div class="invoice-price">
                    <div class="invoice-price-left">
                        <div class="invoice-price-row">
                            <div class="sub-price">
                                <small>Tổng Tiền Hàng</small>
                                <span id="tong_tien_hang" class="text-inverse">0 đ</span>

                            </div>
                            <div class="sub-price ">
                                <small>Tiền Thanh Toán</small>
                                <span class="text-inverse"><input id="tien_thanh_toan" type="number" value="0" />đ</span>
                                <i id="icon_Paid" class="fas fa-check-circle" style="display:none;">Đã Thanh Toán</i>
                            </div>
                        </div>
                    </div>
                    <div class="invoice-price-right">
                        <small id="text_con_no">Còn Nợ </small> <span id="con_no" class="f-w-600"> 0</span>đ
                      <input type="hidden" id="con_no_value" value="0" />
                    </div>
                </div>
                <!-- end invoice-price -->
            </div>
            <!-- end invoice-content -->
        </div>
    </div>
</div>
<div class="button_submit">
    <button id="them_du_lieu" type="button" class="btn btn-info">Lưu Dữ Liệu</button>
</div>



